body
{
    background-color: rgb(47, 41, 70);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   

    .search-box
    {
        background-color: rgb(207, 181, 216);
        padding: 12px 20px;
        border-radius: 30px;
        box-shadow: 0 2px 6px rgba(red, green, blue, alpha);
        display: flex;
        gap: 10px;
        width: 80%;
        max-width: 500px;
        margin: 60px auto;
    }
    .search-box input
    {
        flex: 1;
        border-radius: 15px;
        outline: none;
        font-size: 18px;
    }
    .search-box button
    {
        background-color: rgb(160, 112, 199);
        color: rgb(75, 21, 21);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 18px;
        transition: 0.3s;
    }
    .search-box button:hover
    {
        background-color: rgb(97, 39, 136);
        transform: scale(1.1);
    }

    
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    }

    .search-box {
    transform: scale(0.9);
    opacity: 0;
    animation: popIn 1s 0.4s ease forwards;
    }

    @keyframes fadeIn {
    to { opacity: 1; }
    }

    @keyframes popIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
    
}