
*
{
    min-width: 400px;
    margin: 0px;
    padding: 0px;
}
@media (max-width: 429px)
{
    section .texto{
        font-size: 25px;
    } 
}
@media (min-width: 430px)
{
    section .texto{
        font-size: 40px;
    } 
}
body
{
    background-color: rgba(230, 230, 230, 0.87);
}

.texto
{
    width: 100%;
    font-size: 1.25rem;
}
header
{
    color: aliceblue;
    background-color: black;
    font-family: "Playfair Display";
    font-variant: small-caps;
    text-align: center;
    height: 300px;
}
header > h1
{
    font-size: 5em;
    padding-top: 50px;
}
a 
{
    color: white
}
section
{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    
}

.texto
{
    width: 50%;
    line-height: 2em;
    font-size: 3.5vw;
    font-weight: 700;
}

#cordel1
{
    background-image: url(imagens/teclado.jpg);
    background-position: left center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.514);
}
#cordel1 > p
{
    background-color: #ffffff57;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
}
#cordel2
{
 background-image: url(imagens/carta.jpg);
 background-position: center;
 background-attachment: fixed;
 box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.514);
}
#cordel2 > p 
{
    background-color: #ffffff41;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
}
#cordel3
{
 background-image: url(imagens/sol.jpg);
 background-position: left ;
 background-attachment: fixed;
 box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.575);
}
#cordel3 > p 
{
    background-color: #ffffff41;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
}
footer
{
    background-color: black;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}
